<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499189888481-1l2jqu9a8i9i5ikdn8629n3m9ntint65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499189888481-1l2jqu9a8i9i5ikdn8629n3m9ntint65</string>
	<key>API_KEY</key>
	<string>AIzaSyC9qkIWkEMQ7enTALCRwQakm6ZhLyJ5VoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>499189888481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.drewtjohnson.Quick-Notes</string>
	<key>PROJECT_ID</key>
	<string>quick-notes-9ad29</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-notes-9ad29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499189888481:ios:035f9f2dfb7351549dcea0</string>
</dict>
</plist>